#banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 70vh;
	background-image: url('../images/feminist-banner.jpg');
	background-size: cover;
	background-position: center;
	color: white;
	text-align: center;
	}

	#banner h1, #banner h2 {
		text-shadow: Opx 0px 3px rgba(0, 0, 0, 0.7);
		}

