.button {
	color: white;
	background-color: rgb(248, 226, 231);
	font-weight: bold;
	padding: 12px 18px;
	border-radius: 6px;
	display: block;
	width: 25%;
	margin: 16px auto;
	border: 1px solid white;
	transition: 1s;
	text-align: center;
	}

	.button:hover {
		background-color: rgb(248, 226, 231)
		color: white;
		transition: 1s;
		}

